section {
    padding: 0;
    max-width: 800px;
}

section:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.link-header {
    margin-bottom: 5px;
}

.link-description {
    margin-top: 0;
    text-align: center;
}